:root {
  --color-UntoldBlue: #0e1323;
  --color-LightLavy: #bbc0ff;
  --color-HeathersDupe: #1c204b;
  --color-PureWhite: #ffffff;
  --color-PurpleHeart: #5a1cbb;
  --color-BlueMarguerite: #7078c9;
  --color-JungleGreen: #29ba66;
  --color-BostonBlue: #3f9cbb;
  --color-Emerald: #4bcf82;
  --color-PictonBlue: #55c2e6;
  --color-RoyalBlue: #5747ea;
  --color-PurpleHeart2: #7335d2;
  --color-Alto: #d8d8d8;
  --color-RedDamask: #d96c47;
  --color-FireBush: #e6a532;
  --color-FrenchRose: #f04667;
  --color-CreamCan: #f1c75b;
  --color-WildWatermelon: #ff5e7d;
  --color-Salmon: #ff8b64;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  min-height: 100dvh;
}
html {
  box-sizing: border-box;
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
  cursor: auto; /* or pointer if you want to keep the default hand cursor */
}

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
