/** 

	100 : Thin
	•	200 : Extra Light (Ultra Light)
	•	300 : Light
	•	400 : Normal
	•	500 : Medium
	•	600 : Semi Bold (Demi Bold)
	•	700 : Bold
	•	800 : Extra Bold (Ultra Bold)
	•	900 : Black (Heavy)
  
  */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
  font-family: "Rubik", sans-serif;
  background-color: var(--color-UntoldBlue);
  color: var(--color-PureWhite);
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.5rem;
}

.ft-heading {
  font-size: 5.6rem;
  font-weight: 300;
}

.ft-body-med {
  font-size: 1.8rem;
  font-weight: 500;
}
