.centered-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}
.grid {
  max-width: 111.1rem;
  width: 100%;
  margin: 25.3rem 16.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 3rem;

  &__item1 {
    grid-row: 1/-1;
  }
  @include respond(dashboard-break) {
    max-width: 50rem;
    grid-template-columns: repeat(2, max(25.5rem));
  }
  @include respond(phone) {
    max-width: 30rem;
    grid-template-columns: 1fr;
  }
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.color-white {
  color: var(--color-PureWhite) !important;
}
.color-salmon {
  background-color: var(--color-Salmon);
}
.color-pictonBlue {
  background-color: var(--color-PictonBlue);
}
.color-wildWatermelon {
  background-color: var(--color-WildWatermelon);
}
.color-emerald {
  background-color: var(--color-Emerald);
}
.color-purple {
  background-color: var(--color-PurpleHeart2);
}
.color-creamCan {
  background-color: var(--color-CreamCan);
}
