.attribution {
  margin: 1.6rem 0 6rem;
  font-size: 1.1rem;
  text-align: center;
  color: var(--color-wenge-brown);
  &__credit {
    font-weight: 800;
    color: var(--color-dark-raspberry) !important;
  }
}
